In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Brute/climatisation.csv')

In [3]:
data.head(3)

,web-scraper-order,web-scraper-start-url,Titre,Etat_Clim,Adresse,Prix,url,url-href,url_image-src
0,1738158904-1,https://www.expat-dakar.com/climatisation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1738158925-2,https://www.expat-dakar.com/climatisation,SPLIT/CLIMATISEUR ROCH 9000BTU 1.25CV R410,Neuf,"Plateau,\n ...",159 000 F Cfa,SPLIT/CLIMATISEUR ROCH 9000BTU 1.25CV R410\n ...,https://www.expat-dakar.com/annonce/splitclima...,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
2,1738158945-3,https://www.expat-dakar.com/climatisation,SPLIT ASTECH 1.5CV 12000BTU R410,Neuf,"Plateau,\n ...",188 000 F Cfa,SPLIT ASTECH 1.5CV 12000BTU R410\n ...,https://www.expat-dakar.com/annonce/split-aste...,https://i.roamcdn.net/hz/ed/listing-thumb-543w...

# Nettoyage des colonnes

In [4]:
# Supprimer la premiere ligne
data.drop(index=0, inplace=True)

In [5]:
# Liste des colonnes à supprimer
colonnes_a_supprimer = ['web-scraper-order', 'web-scraper-start-url', 'url', 'url-href']

# Supprimer les colonnes
data.drop(columns=colonnes_a_supprimer, inplace=True)

# Afficher les premières lignes du DataFrame pour vérifier
data.head()

,Titre,Etat_Clim,Adresse,Prix,url_image-src
1,SPLIT/CLIMATISEUR ROCH 9000BTU 1.25CV R410,Neuf,"Plateau,\n ...",159 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
2,SPLIT ASTECH 1.5CV 12000BTU R410,Neuf,"Plateau,\n ...",188 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
3,SPLIT ROCH 9000BTU/1.25CV R410,Neuf,"Plateau,\n ...",144 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
4,SPLIT 2.5CV/ 18000BTU ROCH R410,Neuf,"Plateau,\n ...",239 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
5,SPLIT SKAGGU 2.5CV 18000BTU R410,Neuf,"Plateau,\n ...",239 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...

In [6]:
# Traiter la colonne prix et adresse
# Nettoyer la colonne Prix
data['Prix'] = data['Prix'].str.replace(' F Cfa', '').str.replace(' ', '').astype(int)

# Nettoyer la colonne Adresse
data['Adresse'] = data['Adresse'].str.split(',').str[0]

# Afficher les premières lignes du DataFrame pour vérifier
data.head()

,Titre,Etat_Clim,Adresse,Prix,url_image-src
1,SPLIT/CLIMATISEUR ROCH 9000BTU 1.25CV R410,Neuf,Plateau,159000,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
2,SPLIT ASTECH 1.5CV 12000BTU R410,Neuf,Plateau,188000,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
3,SPLIT ROCH 9000BTU/1.25CV R410,Neuf,Plateau,144000,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
4,SPLIT 2.5CV/ 18000BTU ROCH R410,Neuf,Plateau,239000,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
5,SPLIT SKAGGU 2.5CV 18000BTU R410,Neuf,Plateau,239000,https://i.roamcdn.net/hz/ed/listing-thumb-543w...

## 3. Sauvegarder le fichier nettoyé

In [7]:
data.to_excel('Cleaned/Climatisation_cleaned.xlsx', index=False)